$text-01: #482121 !default;
$text-02: rgba(6, 11, 17, 0.48) !default;
$text-03: rgba(6, 11, 17, 0.24) !default;
$primary: #ffd95a !default;
$primary-disabled: #fff7d4 !default;
$ui-01: #fff !default;
$ui-04: rgba(255, 255, 255, 0.0001) !default;
