.popup {
  z-index: z("modal");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  padding: 0;

  .contents {
    position: relative;
  }
}

.outro {
  @include filter-shadow("contents");
  position: relative;
  padding: 32px 0;
  background-color: $ui-01;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &:after {
    content: "";
    background-image: url("#{$img-path}/bubble-arow.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 46px;
    height: 39px;
    transform: translateX(-50%);
  }

  &__title {
    @include font-weight("bold");
    font-size: 24px;
    color: $text-01;
    text-align: center;
  }
}

.interest {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;

  &__item {
    overflow: hidden;
    @include equal-size(124px);
    border-radius: $default-border-radius;
  }

  &__img {
    @include img-default;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes fade-out-background {
  from {
    background: $primary;
  }
  to {
    background: $ui-01;
  }
}

@keyframes scale-expansion {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes interest-rolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% + 226px));
  }
}

.animation-effect {
  @include animation-default;
  animation-name: fade-out-background;
  animation-duration: 2.5s;
  animation-delay: 3.5s;
  touch-action: none;

  .interest {
    animation-name: interest-rolling;
    animation-timing-function: cubic-bezier(0.71, 0, 0.5, 1.33);
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  .outro,
  .interest__item {
    @include animation-default;
    animation-name: fade-out;
    animation-duration: 2.5s;
    animation-delay: 3.5s;
  }

  .interest__item.scale-expansion {
    animation-name: scale-expansion;
    animation-duration: 0.6s;
    animation-delay: 3.6s;
  }
}
